$text-color-dark: #717171;
$text-color-light: #fff;
$color-design-quality: #f5999e;
$color-built-to-last: #625f7e;
$color-perfect-pictures: #82ca9c;
$color-background-plan: #f6f7fb;
$footer-background-color: #1a2430;
